* {
    box-sizing: border-box;
    background-color: transparent;
}

body {
    font-family: "Noto Sans", sans-serif;
    padding: 20px;
    background-color: #060c18;
    color: white;
}

form {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

input[name="task"] {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
    color: white;
}

input[name="task"]:focus-within {
    border: 1px solid #555555;
}

input[type="submit"] {
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

input[type="submit"]:hover {
    background-color: #c7c6c6;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

details {
    padding: 6px;
    border-radius: 8px;
    width: 100%;
}

.tasks {
    display: flex;
    flex-direction: column;
}

summary {
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary i {
    margin-right: 5px;
    transition: 0.3s;
}

details[open] summary i {
    transform: rotate(90deg);
}

#todo {
    border: 1px solid blue;
}

#doing {
    border: 1px solid red;
}

#done {
    border: 1px solid green;
}

.task {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    transition: 0.15s;
    border-radius: 8px;
    margin-block: 8px;
    margin-left: 15px;
    cursor: pointer;
}

.task p {
    width: fit-content;
    margin: 0;
}

.task i {
    cursor: grab;
}

.task.dragging {
    cursor: grabbing;
}

@keyframes shake {
    0% {
        transform: translate(5px, 0);
    }
    100% {
        transform: translate(-5px, 0);
    }
}
